.banner {
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;

    .wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 992px) {
            flex-direction: column;
        }
    }

    &__info {
        max-width: 555px;

        @media (max-width: 992px) {
            margin-bottom: 30px;
            max-width: none;
            text-align: center;
        }

        .title {
            font-size: 64px;
            font-weight: bold;
            line-height: normal;

            @media (max-width: 768px) {
                font-size: 50px;
            }

            @media (max-width: 576px) {
                font-size: 40px;
            }
        }

        .text {
            margin-top: 35px;
            font-size: 21px;
            line-height: 1.5;

            @media (max-width: 992px) {
                margin-top: 10px;
            }

            @media (max-width: 768px) {
                font-size: 18px;
            }
        }
    }

    &__count {
        text-align: center;

        .title {
            margin-bottom: 15px;
            font-size: 16px;
            text-align: center;
            font-weight: 600;
        }
        
        .count {
            display: flex;
            align-items: center;

            &__item {

                &:not(:last-child) {
                    margin-right: 40px;
                    
                    @media (max-width: 420px) {
                        margin-right: 20px;
                    }
                }
            }

            &__number {
                color: $grass;
                font-size: 64px;
                font-weight: bold;
            }

            &__text {
                text-align: center;
                color: #fff;
                font-size: 16px;
            }
        }

        .count__btn {
            margin-top: 50px;

            @media (max-width: 992px) {
                margin-top: 30px;
            }
        }
    }
    
    &--home {
        background: #eee url('../img/banner_home.jpg') no-repeat;
        background-size: cover;
    }

    &--about {
        background: #eee url('../img/banner_about3.png') no-repeat;
        background-size: cover;
    }

    &--blog {
        background: #eee url('../img/banner_blog.jpg') no-repeat;
        background-size: cover;
    }

    &--events {
        background: #eee url('../img/banner_events.jpg') no-repeat;
        background-size: cover;
    }

    &--contact {
        background: #eee url('../img/banner_home.jpg') no-repeat;
        background-size: cover;
    }

    &--event {
        background: #eee url('../img/banner_home.jpg') no-repeat;
        background-size: cover;

        .banner__info {

            @media (max-width: 992px) {
                max-width: none;
            }

            .title {

                @media (max-width: 992px) {
                    font-size: 50px;
                }

                @media (max-width: 768px) {
                    font-size: 45px;
                }
    
                @media (max-width: 576px) {
                    font-size: 36px;
                }
            }
        }
    }
}
