.benefits {
    padding: 10vh 0;
    background-color: #f9f9f9;

    &__title {
        margin-bottom: 120px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        width: 32%;
        justify-content: space-between;
        text-align: center;
        color: $dark;

        &:nth-child(-n + 3) {
            margin-bottom: 45px;
        }
    }

    &__img {
        min-height: 100px;

        img {

        }
    }

    &__name {
        margin-bottom: 8px;
        font-size: 21px;
        font-weight: bold;
        line-height: normal;
    }

    &__descr {
        margin: 0 auto;
        max-width: 305px;
        font-size: 16px;
        line-height: 1.5;
    }
}
