.goal {
    padding: 10vh 0;
    background-color: #f9f9f9;

    &__wrap {
        display: flex;
        align-items: center;
    }

    &__info {
        max-width: 525px;
        color: $dark;
        
        .title {
            margin-bottom: 25px;
            font-size: 50px;
            font-weight: bold;
        }

        .descr {
            font-size: 16px;
            line-height: 1.5;
        }
    }

    &__img {
        margin: 0 auto;
        box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.11);
        border-radius: 10px;
        overflow: hidden;

        img {
            display: block;
        }
    }
}