.prev-events {
    padding: 10vh 0;
    background-color: #f9f9f9;

    .grid {
        display: grid;
        grid-template-areas: 
        "one three"
        "one three"
        "one four"
        "two four";
        grid-gap: 30px;

        @media (max-width: 992px) {
            grid-template-areas:
                    "one"
                    "three"
                    "four"
                    "two";
        }

        &__item {
            border-radius: 7px;

            &.event {
                display: flex;
                align-items: center;
                box-shadow: $main-shadow;
                background-color: #fff;
                color: $dark;
                overflow: hidden;

                @media (max-width: 576px) {
                    flex-direction: column;
                }

                .event__img {
                    max-height: 260px;
                    width: 260px;
                    overflow: hidden;

                    @media (max-width: 576px) {
                        max-height: 260px;
                        width: 100%;
                    }
        
                    img {
                        max-width: 100%;
                        display: block;

                        @media (max-width: 576px) {
                            max-width: none;
                            width: 100%;
                        }
                    }
                }
        
                .event__text {
                    padding: 15px 45px 15px 15px;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    flex: 1;
                    color: $dark;
        
                    .title {
                        margin-bottom: 5px;
                        height: 120px;
                        font-size: 17px;
                        font-weight: bold;
                        line-height: 1.2;
                        text-overflow: ellipsis;
                        overflow: hidden;

                        @media (max-width: 568px) {
                            height: auto;
                        }
                    }
        
                    .descr {
                        margin-bottom: 0;
                        height: 80px;
                        font-size: 14px;
                        line-height: 1.5;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
        
                    .link {
                        position: relative;
                        color: $azure;
                        font-size: 14px;
                        font-weight: 600;
                        text-decoration: underline;
                        cursor: pointer;
        
                        &:after {
                            content: '\2192';
                            padding-left: 5%;
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                }
            }

            &.btn {
                box-shadow: 0 9px 10px 0 rgba(0, 0, 0, 0.1);
            }

            &--one {
                height: 460px;
                grid-area: one;

                @media (max-width: 576px) {
                    height: auto;
                }

                &.event {
                    flex-direction: column;

                    .event__img {
                        width: 100%;
                    }

                    .event__text {

                        .title {
                            margin-bottom: 12px;
                            max-height: 65px;
                        }

                        .descr {
                            margin-bottom: 18px;
                            height: 100px;
                        }
                    }
                }
            }

            &--two {
                height: 40px;
                grid-area: two;

                @media (max-width: 576px) {
                    height: auto;
                }
            }

            &--three {
                height: 255px;
                grid-area: three;

                @media (max-width: 576px) {
                    height: auto;
                }
            }

            &--four {
                height: 255px;
                grid-area: four;

                @media (max-width: 576px) {
                    height: auto;
                }
            }
        }
    }
}
