.reviews {
    padding: 8vh;

    .slide {
        padding-top: 30px;
        display: flex;
        align-items: center;

        @media (max-width: 960px) {
            flex-direction: column;
        }

        &__img {
            margin-right: 6vw;
            flex-basis: 335px;
            border-radius: 7px;
            overflow: hidden;

            @media (max-width: 960px) {
                margin-right: 0;
                margin-bottom: 40px;
            }

            img {
                display: block;
            }
        }

        &__info {
            flex: 1;
            color: $dark;

            .text {
                margin-bottom: 20px;
                position: relative;
                text-align: left;
                font-size: 16px;
                line-height: 1.5;

                &::before {
                    content: '';
                    height: 28px;
                    width: 40px;
                    position: absolute;
                    top: -28px;
                    left: -40px;
                    display: block;
                    background: url('../img/icons/quote.svg') no-repeat;

                    @media (max-width: 960px) {
                        left: 0;
                    }
                }

                @media (max-width: 992px) {
                    text-align: justify;
                }

                @media (max-width: 768px) {
                    font-size: 14px;
                }
            }

            .details {
                position: relative;

                .fullname {
                    margin-bottom: 6px;
                    font-size: 16px;
                    font-weight: bold;
                }

                .position {
                    max-width: 420px;
                    font-size: 14px;
                    line-height: 1.5;
                }
            }

            .slide__arrows {
                position: absolute;
                top: 20px;
                right: 20px;

                @media (max-width: 768px) {
                    margin-top: 10px;
                    position: static;
                    text-align: center;
                }

                .arrow-btn {
                    background-color: transparent;
                    color: $grass;
                    font-size: 22px;
                    border: none;
                    cursor: pointer;

                    &.disabled {
                        color: rgba($grass, .4);
                        cursor: not-allowed;
                    }
                }
            }
        }
    }

    &--event-page {
        
        .slide__img {
            
            &.no-photo {
                flex: 0;
            }
        }
    }
}
