*, *::before, *::after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #fff;
    font-family: 'Gilroy', sans-serif;
    /* font-family: 'Ubuntu', sans-serif; */
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}
.wrap {
    width: 85%;
    margin: 0 auto;
}



.btn {
    padding: 12px 20px;
    display: inline-block;
    background-color: $azure;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: 7px;
    box-shadow: 0 9px 10px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
}