*, *::before, *::after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #fff;
    font-family: 'Gilroy', sans-serif;
    /* font-family: 'Ubuntu', sans-serif; */
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    
    &.not-found-page {
        background-color: #f9f9f9;
    }
}
.wrap {
    max-width: 1140px;
    width: 85%;
    margin: 0 auto;
}

.policy {
    padding: 20vh 0;
    background-color: #fff;

    h1 {
        margin-bottom: 20px;
        color: $dark;
        font-size: 30px;
    }

    h2 {
        margin: 15px 0;
        color: $dark;
        font-size: 26px;
    }

    p {
        margin-bottom: 10px;
        color: rgba($dark, .5);
        font-size: 18px;
        line-height: 1.4;
    }

    a {
        color: $azure;
    }
}



.btn {
    padding: 12px 20px;
    display: inline-block;
    background-color: $azure;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: 7px;
    box-shadow: 0 9px 10px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.section-title {
    margin-bottom: 55px;
    text-align: center;
    color: $dark;
    font-size: 50px;
    font-weight: bold;
    line-height: 1.3;

    @media (max-width: 992px) {
        margin-bottom: 40px;
        font-size: 40px;
    }

    @media (max-width: 768px) {
        margin-bottom: 30px;
        font-size: 36px;
    }

    @media (max-width: 576px) {
        font-size: 24px;
    }
}

.bgc-grey {
    background-color: #f9f9f9 !important;
}

.bgc-white {
    background-color: #fff !important;
}



[onclick] {
    cursor: pointer;
}
